@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-left: 16px;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$pink2;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}